# Node
node_modules/
dist/
.vite/

# Python
__pycache__/
*.pyc
venv/
**/venv/
.env

# Database / local files
*.sqlite3
*.db

# GIS data local
DuLieu/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*